@page "/transactions"
@inject NavigationManager nav


@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<MudContainer Class="remove-container-margin">
    <MudGrid Container="Container.Fluid">
        <MudItem xs="12" md="12">
            <div class="scroll" style="overflow-x:hidden">
                <div class="scrollable-content">
                    <MudGrid Spacing="4" Justify="Justify.Center">
                        <!-- Content for the right half goes here -->
                        <MudItem xs="6">
                            <MudCard>
                                <TransactionChart />
                            </MudCard>
                        </MudItem>
                        <MudItem xs="6">
                            <MudCard>
                                <TransactionLineChart />
                            </MudCard>
                        </MudItem>
                        <MudItem xs="11">
                            <MudCard>
                                <MudCardHeader>
                                    <CardHeaderContent>
                                        <MudText Typo="Typo.body2">Filter the Transactions by date :</MudText>
                                    </CardHeaderContent>
                                </MudCardHeader>
                                <MudDateRangePicker Label="Basic range picker" @bind-DateRange="_dateRange" />
                            </MudCard>
                        </MudItem>

                        <MudItem xs="12">
                            <MudGrid Spacing="2" Justify="Justify.Center">
                                <TransactionDisplay />
                            </MudGrid>
                        </MudItem>
                    </MudGrid>
                </div>
            </div>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    private DateRange _dateRange = new DateRange(DateTime.Now.Date, DateTime.Now.AddDays(5).Date);

}
